/*General Properties*/
body {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	height:100%;
	font-family: Verdana, Helvetica, sans-serif;
	display: -webkit-box;
	-webkit-box-pack: center;
	
	display: -moz-box;
	-moz-box-pack: center;
}

h3 {
  display: inline-block;
  
}

.big_wrapper{
	max-width:1000px;
	min-height: 500px;
	/*background-color: #DDDDDD;*/
	margin:5px 50px 10px 50px;
	display: -webkit-box;
	border-radius:6px;
	box-shadow: 0 0 8px 8px #888;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
		
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-flex: 1;
}

.page{
  display:none;
}

.main_error_msg{
  color: red;
  text-align:center;
}

/*Header*/
header {
  margin-top:25px;
}
.page_title{
  text-align:center;
}

/*Blog Main Page*/
.post_image{
  margin-top: 10px;
}
.post_subject{
  font-weight:bold; 
  display:inline;
}

.post_created{
  float: right;
  font-style: italic;
  margin: 10px 6px 0px 0px;
}

.post_content{
  margin-bottom: 16px;
}

.tag_container{
  margin-top: 50px;
  padding: 2px 2px 2px 2px;
  background: #E3E3E3;
  border-radius: 3px; 
}

.post_tag{
  font-weight: bold;
}

.post_author{
  font-style: italic;
}

.post_readmore{
  margin-bottom: 6px;
  padding: 3px 3px 3px 3px;
  width:75px;
  height:20px;
  border-radius: 6px;
  background-color:#EEE;
}


/*Permalink*/

.perma_post_image{
  margin: 0px 0px 8px 0px;
}
/*New Post Areas*/
textarea{
  font-family: Verdana, Helvetica, sans-serif; 
}

.error{
  font-weight:bold; 
  font-family: Verdana, Helvetica, sans-serif; 
  color:red;
}

.image_prev{
  float: right;
  margin-top: 10px;
  width:200px;
  height:200px;
  border: 1px solid red;
}

/*Footer*/
footer{
  text-align:center;
}

/*Social*/
.main_social{
	padding: 4px;
	display: inline-block;
	float: right;
}