/*General Properties*/
body {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	height:100%;
	font-family: Verdana, Helvetica, sans-serif;
	display: -webkit-box;
	-webkit-box-pack: center;
	
	display: -moz-box;
	-moz-box-pack: center;
}

.big_wrapper{
	max-width:1000px;
	min-height: 500px;
	/*background-color: #DDDDDD;*/
	margin:5px 50px 10px 50px;
	display: -webkit-box;
	border-radius:6px;
	box-shadow: 0 0 8px 8px #888;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
		
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-flex: 1;
}

.page{
  display:none;
}

.main_error_msg{
  color: red;
  text-align:center;
}

/*Header*/
header {
  margin-top:25px;
}
.page_title{
  text-align:center;
}

/*Blog Post Pages*/

.blog_post{
  margin-left:10px;
  
}
.post_subject{
  font-weight:bold; 
}

.post_created{
  font-style: italic;
  margin-bottom: 10px;
}

.post_content{
  margin-bottom: 16px;
}

.post_tag{
  margin-top: 16px;
  font-style: italic;
}

.post_author{
  font-style: italic;
}

.post_readmore{
  margin: 0px 0 6px 10px;
  padding: 3px 3px 3px 3px;
  width:75px;
  height:20px;
  border-radius: 6px;
  background-color:#EEE;
}

/*New Post Areas*/
textarea{
  font-family: Verdana, Helvetica, sans-serif; 
}

.error{
  font-weight:bold; 
  font-family: Verdana, Helvetica, sans-serif; 
  color:red;
}

/*Footer*/
footer{
  text-align:center;
}

/*Social*/
.main_social{
	padding: 4px;
	display: inline-block;
	float: right;
}