{% extends "base.html" %}

  {% block title %}
      <title>Home | {{ blog_name }}</title>
  {% endblock %}

  {% block meta_desc %}
      <meta name="description" content="{{blog_desc}}">
  {% endblock %}

  {% block main %}
    <span class="page">home</span>
    {% for item in blog_entries %}
      <article>
	<div class="tag_container">
	  <a class="post_tag" href="/blog/tags/{{item.tag}}">{{item.tag}}</a>
	</div>
	<div class="row-fluid blog_post">
	  <div class="span4">
	    <img class="post_image img-rounded" src="{{item.image_url}}" width="250" height="350" alt="{{item.tag}}"/>
	  </div>
	  <div class="span8">
	    <div>
	      <h3 class="post_subject">{{item.subject}}</h3>
	      <p class="post_created">{{item.created.strftime("%b %d,%Y")}}</p>
	    </div>
	    <div class="post_content">{{item.content[:350]+'...'}}</div>
	    <div class="post_readmore"><a href="/blog/{{item.post_id}}">Read More</a></div>
	  </div>
	</div>
      </article>
    {% endfor %}
  {% endblock %}


