{% extends "base.html" %}
  {% block title %}
      <title>New Post Preview | {{ blog_name }}</title>
  {% endblock %}

  {% block meta_desc %}
      <meta name="description" content="{{blog_desc}}">
  {% endblock %}

  {% block main %}
    <article>
      <div>
          <p class="preview_warning">This is only a preview...</p>
      </div>
      <div class="row-fluid">
	<div class="span4">
	  <img class="perma_post_image img-rounded" src="{{preview.image_url}}" width="250" height="350" />
	</div>

	<div class="span8">
	  <h3 class="post_subject">{{preview.subject}}</h3>
	  <div><b>By: </b>{{preview.author}}</div>
	  <div><b>Date: </b> {{preview.created.strftime("%b %d,%Y")}}</div>
	  <div><b>Tag: </b>{{preview.tag}}</a></div>
	</div>
      </div>

      <div class="post_content">{{preview.content}}</di>
      <br/>
      <input class="btn btn-info" type="submit" id="preview-back" value="Back">
    </article>
  {% endblock %}


