{% extends "base.html" %}
{% block main %}   
  <form method="post">
    <dl>
      <dt>Blog Post Title</dt>
	    <dd><input type="subject" name="subject" value="{{subject}}" /></dd>
      <dt>Blog Text</dt>
	    <dd><textarea name="content" cols="40" rows="8">{{content}}</textarea></dd>
	  <dt>Tag</dt>
	    <dd><input name="tag"value="{{tag}}"/></dd>	
    </dl>
    <br>
    <input type="submit" value="Submit Entry!">
    <div class="error">{{newpost_error | safe}}</div>
  </form>
{% endblock %}
