{% extends "base.html" %}
  {% block main %}
	<h3>Change Username</h3>
	<form method="post">
      <div class="control-group">
        <label class="control-label" for="inputText">New Username</label>
        <div class="controls">
         <input class="input-large" type="text" name="new_username" placeholder="Username..." required />
        </div>
      </div>
	
	  <div class="control-group">
        <label class="control-label" for="inputText">Enter Password for Verification</label>
        <div class="controls">
         <input class="input-large" type="text" name="password" placeholder="Password..." required />
        </div>
      </div>
	  
	  <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <input class="btn btn-info" type="submit" value="Change Username">
        </div>
      </div>
    
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <div class="error">{{error_change_username}}</div>
        </div>
      </div>
	</form>	
  {% endblock %}
  
  
